
body {
  margin: 0;
  background-color: #eee;
}

.window {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  position: fixed;
  outline: 1px solid #AAA;
  overflow: hidden;
}
  .windowHeader {
    width: 100%;
    height: 15px;
    background-color: #ccc;
    font-size: 12px;
    text-align: right;
    user-select: none;
  }
    .windowHeaderResize {
      width: 15px;
      height: 15px;
      background-image: url(ui/resize.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #bbb;
      float: left;
    }
      .windowHeaderResize:hover { background-color: #ddd; }

.panel {
  position: fixed;
  left: 0px; top: 0px;
  width: 0px; height: 0px;
  overflow: hidden;
}
  .panel div {
    width: inherit; height: inherit;
  }
